* {
    margin: 0;
}

html, body {
    font-family: "Myriad Pro", serif;
    max-width: 1300px;
    margin: auto;
    height: 100%;
}



.wrapper {
    min-height: 100%;
    margin: 0 auto -2.7em;
}
#footer, .push {
    height: 2.7em;
}


.backPic {
    width: 100%;
    height: 100%;
    background-image: url("http://2.bp.blogspot.com/-3h_6R1DAJUI/U_IGtjfCQGI/AAAAAAAAGHQ/bxRFQF4T8VE/s1600/tsundoku.jpg");
    background-repeat: no-repeat;
    padding-top: 1.25em;
}


#logIn {
    height: 50px;
    width: 100%;
    display: block;
    margin: 0 auto;
    width: 80%;
    color: #e4e2a7;
}

.modal-body {
    width: 100%;
    text-align: right;
    margin-left: 1em;

}

.modal-body .form-control {
    margin: .5em 0 0 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 37px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 5.428571;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
